
table{

  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,th{

  border:1px green;
  text-align: center;
  padding: 8px;
}

p{
  text-align: center;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 20px 20px;
  margin: 80px;
  border: none;
  cursor: pointer;
  width: 50%;
  display: block;
}

button:hover {
  opacity: 0.8;
}

.maindiv{
  border-color: black;
  border-style: double;
  width: 80%;
  text-align: center;
}